<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container mt-5">
      <h1><%= blog.title %></h1>
      <img src="<%= blog.coverImageURL %>" alt="" width="500px" />
      <pre><%= blog.body %></pre>
    </div>

    <div class="container mt-4 d-flex align-items-center gap-3">
      <img
        src="<%= blog.createdBy.profileImageURL %>"
        alt=""
        width="40px"
        height="40px"
      />
      <h1 class="fs-3"><%= blog.createdBy.fullName %></h1>
    </div>

    <div class="container mt-3">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
      <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="mb-3 w-50">
          <input
            name="comment"
            type="text"
            class="form-control"
            placeholder="Enter your comment"
          />
          <button type="submit" class="btn btn-sm btn-primary mt-2">Add</button>
        </div>
      </form>
      <% } %>
      <div class="mt-4">
        <% comments.forEach(comment => { %>
        <div>
          <div class="container mt-4 d-flex align-items-center gap-3">
            <img
              src="<%= comment.createdBy.profileImageURL %>"
              alt=""
              width="40px"
              height="40px"
            />
            <h1 class="fs-3"><%= comment.createdBy.fullName %></h1>
          </div>
          <pre><%= comment.content %></pre>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
